* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    border: 1px solid black;
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
}