@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Inter", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid black;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
    padding: 2rem;
}

h1 {
    font-size: 2.8rem;
    font-weight: 500;
}

#task-input {
    height: 25px;   
}

#add-btn {
    height: 25px;
    width: 50px;
}
