* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.game {
    border: 1px solid black;
    height: 350px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.box {
    font-size: 3rem;
    cursor: pointer;
}

#reset-btn {
    padding: 7px 15px;
    font-size: 1.3rem;
    background: rgb(46, 46, 46);
    color: white;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
}
