* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    border: 1px solid black;
    min-height: 400px;
    min-width: 450px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.box {
    font-size: 3rem;
    cursor: pointer;
}