@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 500px;
    height: 400px;
    background-color: #DEDEDE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper > h1 {
    font-size: 3rem;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#counter {
    width: 80px;
    height: 80px;
    font-size: 5rem;
    text-align: center;
}

#increment-btn, #decrement-btn {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    outline: none;
    border-radius: 50%;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}