* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Courier New', Courier, monospace;
}

body {
    text-align: center;
}

#board {
    background-image: url('./assets/flappybirdbg.png');
}