@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    min-height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#change-btn {
    width: 220px;
    height: 40px;
    color: white;
    background-color: black;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}