@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    user-select: none;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

p {
    font-size: 15px;
    margin-top: 10px;
}

.container {
    display: flex;
    gap: 8px;
    margin-top: 2.3rem;
}

#task-input {
    width: 150px;
    height: 30px;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

#add-btn {
    width: 50px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}

#task-list {
    margin-top: 2.5rem;
}



