@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Unbounded", sans-serif;
    user-select: none;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    /* position: relative; */
}

.clock-container {
    display: flex;
}

.clock {
    font-size: 8rem;
}

.ampm {
    font-size: 3rem;
}

#format-btn {
    width: 65px;
    height: 30px;
    font-size: 1.1rem;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    /* position: absolute;
    top: 20px;
    right: 20px; */
}