@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    user-select: none;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid black;
    height: 450px;
    width: 350px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    gap: 5px;
}

.search input{
   width: 200px;
   height: 35px;
   padding-left: 10px;
   border: 1px solid black;
   outline: none;
   border-radius: 20px;
}

.search button {
    width: 35px;
    height: 35px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

#weather-img {
    width: 120px;
}

.temp, .city {
    font-weight: 500;
}

.temp {
    font-size: 2.3rem;
}

.city {
    font-size: 1.4rem;
    margin-top: -0.8rem;
}

.details {
    border: 1px solid black;
    display: flex;
}

.details img {
    width: 100px;
}



