* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid black;
    height: 500px;
    width: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    display: flex;
    padding-top: 30px;
    gap: 5px;
}

.search input{
   width: 200px;
   height: 35px;
   padding-left: 10px;
   border: 1px solid black;
   outline: none;
   border-radius: 20px;
}

.search button {
    width: 35px;
    height: 35px;
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 50%;
}

.weather {
    display: flex;
    flex-direction: column;
}

.details {
    display: flex;
}

img {
    width: 100px;
}

